<html>
  <head>
    <script type="text/javascript" src='http://www.scribd.com/javascripts/scribd_api.js'></script>
    <style>
      #scribd_pager .enter_fullscreen { display: none !important; }
    </style>
  </head>
  <body>
    <div id='embedded_doc'></div>
    <script type='text/javascript'>
      var scribd_doc = scribd.Document.getDoc(<%= @scribd_doc_id %>, '<%= @access_key %>');
      scribd_doc.addParam('jsapi_version', 2);
      scribd_doc.seamless('embedded_doc');
    </script>
  </body>
</html>
